@charset "UTF-8";
.app-sidebar .mCSB_container {
	margin-right: 0px;
}
.app-sidebar .mCSB_draggerContainer {
	right: -11px;
}
@media (min-width: 768px) {
	.app.sidenav-toggled .app-content {
		margin-left: 0;
	}
	.app.sidenav-toggled .app-sidebar {
		left: -230px;
	}
	.app.sidenav-toggled .app-sidebar__overlay {
		visibility: hidden;
	}
	.app-sidebar__toggle {
		margin-left: 20px;
	}
	.app-sidebar .mCSB_draggerContainer {
		right: -35px;
	}
	
}
@media (max-width: 767px) {
	.app-sidebar__user {
		color: #151948;
		background: transparent !important;
		border: 1px solid transparent !important;
		border-radius: 0 !important;
		margin-bottom: 0 !important;
	}
	.side-menu{
		border-radius: 0 !important;
	}
	.app {
		overflow-x: hidden;
	}
	.app .app-sidebar {
		left: -230px;
		background: linear-gradient(125deg, #53127F 35%, #7c18ac 65%);
	}
	.app .app-sidebar__overlay {
		visibility: hidden;
	}
	.app.sidenav-toggled .app-content {
		margin-left: 0;
	}
	.app.sidenav-toggled .app-sidebar {
		left: 0;
		background: linear-gradient(125deg, #53127F 35%, #7c18ac 65%);
		margin: 0;
	}
	.app.sidenav-toggled .app-sidebar__overlay {
		visibility: visible;
	}
}
.app-content {
	min-height: calc(100vh - 50px);
	margin-top: 50px;
	margin-bottom: 0 !important;
	-webkit-transition: margin-left 0.1s ease;
	-o-transition: margin-left 0.1s ease;
	transition: margin-left 0.1s ease;
	/*background: linear-gradient(125deg, #e21a22 0%, #c20710 100%);*/
}
.app-content .side-app {
	padding: 40px 40px 23px 40px;
	background: #fff;
	border-radius: 25px;
	margin-left: 20px;
	margin-right: 20px;
}
.footer .container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.app-content {
		margin-left: 230px;
		margin-top: 66px !important;
	}
}
@media (max-width: 767px) {
	.app-content {
		margin-top: 92px !important;
		min-width: 100%;
	}
}
@media (max-width: 480px) {}
@media print {
	.app-content {
		margin: 0;
		padding: 0;
		background-color: #fff;
	}
}
.light-text {
	font-weight: 300 !important;
}
.semibold-text {
	font-weight: 600 !important;
}
.line-head {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
/*----- Componant: Top Navigation Bar ----- */

.app-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 1030;
	padding: 10px 0;
	box-shadow: none;
	background:#009a44;
}
/*@media (min-width: 768px) {
  .app-header {
    padding-right: 30px;
  }
}
*/

.app-header.header.fixed-header {
	background: linear-gradient(125deg, #e21a22 35%, #c10710 65%);
}
@media print {
	.app-header {
		display: none;
	}
}
.app-header__logo {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	color: #fff;
	text-align: center;
	font-family: 'Niconne';
	padding: 0 15px;
	font-size: 26px;
	font-weight: 400;
	line-height: 50px;
}
@media (min-width: 768px) {
	.app-header__logo {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		display: block;
		width: 230px;
	}
}
.app-header__logo:focus, .app-header__logo:hover {
	text-decoration: none;
}
.app-sidebar__toggle {
	padding: 0 15px;
	color: #e5cdf1;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.app-sidebar__toggle:hover {
	color: #fff;
}
@media (max-width: 767px) {
	.app-sidebar__toggle {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
}
.app-sidebar__toggle:before {
	content: "\e907";
	transition: all .25s;
	font-size: 1.5rem;
	font-family: 'feather';
	top: 5px;
	position: relative;
}
.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
	text-decoration: none;
}
.app-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
@media (min-width: 768px) {
	.app-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}
.app-nav__item {
	display: block;
	padding: 15px;
	line-height: 20px;
	color: #3e4b5b;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.app-nav__item:hover, .app-nav__item:focus {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.app-search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	margin-right: 15px;
	padding: 10px 0;
}
@media (max-width: 480px) {
	.app-search {
		display: none;
	}
}
.app-search__input {
	border: 0;
	padding: 5px 10px;
	padding-right: 30px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.app-search__input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.app-search__input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.app-search__input::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.app-search__input::placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.app-search__button {
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	padding: 0 10px;
	border: 0;
	color: rgba(0, 0, 0, 0.8);
	background: none;
	cursor: pointer;
}
.app-notification {
	min-width: 270px;
}
.app-notification__title {
	padding: 8px 20px;
	text-align: center;
	background-color: rgba(0, 150, 136, 0.4);
	color: #333;
}
.app-notification__footer {
	padding: 8px 20px;
	text-align: center;
	background-color: #eaedff;
}
.app-notification__content {
	max-height: 220px;
	overflow-y: auto;
}
.app-notification__content::-webkit-scrollbar {
	width: 6px;
}
.app-notification__content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.app-notification__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 20px;
	color: inherit;
	border-bottom: 1px solid #ddd;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.app-notification__item:focus, .app-notification__item:hover {
	color: inherit;
	text-decoration: none;
	background-color: #e0e0e0;
}
.app-notification__message, .app-notification__meta {
	margin-bottom: 0;
}
.app-notification__icon {
	padding-right: 10px;
}
.app-notification__message {
	line-height: 1.2;
}
.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 66px;
	margin-left: 20px;
    width: 210px;
	z-index: 10;
	-webkit-transition: left 0.1s ease, width 0.1s ease;
	-o-transition: left 0.1s ease, width 0.1s ease;
	transition: left 0.1 ease, width 0.1s ease;
	background: transparent;
	color: #151948;
}
.app-sidebar::-webkit-scrollbar {
	width: 6px;
}
.app-sidebar::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
@media print {
	.app-sidebar {
		display: none;
	}
}
@media (max-width: 767px) {
	.app-sidebar__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
}
.app-sidebar__user .dropdown-menu {
	top: 10px !important;
}
.app-sidebar__user {
	text-align: center;
	padding: 15px 0 15px;
	color: #151948;
	background:#000;
	border:1px solid rgba(255,255,255,0.15);
	border-radius:12px;
	margin-bottom:10px; margin-top:32px;
}
.app-sidebar__user-avatar {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-right: 15px;
}
.app-sidebar__user-name.text-sm {
	font-size: 13px;
	color: #fff !important;
}
.app-sidebar__user-name {
	font-size: 15px;
	line-height: 1.3;
}
.app-sidebar__user-name, .app-sidebar__user-designation {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.side-menu {
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius:12px;
	background:#000;
}
.side-menu__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px 15px;
	font-size: 15px;
	-webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	-o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	transition: border-left-color 0.3s ease, background-color 0.3s ease;
	color: rgba(255, 255, 255, 0.7);
}
.slide.is-expanded a {
	color: rgba(255, 255, 255, 0.5);
}
.slide.is-expanded a:hover {
	color: #53127F;
}
.slide-menu li.active>a {
	font-weight: 400;
	background: #fff;
}
.side-menu__icon {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 25px;
}
.side-menu__label {
	white-space: nowrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.slide.is-expanded [data-toggle='slide'] {
	color: #53127F;
	font-weight: 400;
}
.slide.is-expanded .slide-menu li a:hover {
	background: rgba(0,0,0,0.1);
	color: #fff;
}
.slide.is-expanded .slide-menu {
	max-height: 100%;
}
.slide.is-expanded .angle {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	right: 32px;
}
.slide .angle {
	position: absolute;
	right: 32px;
}
.slide-menu {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s ease;
	-o-transition: max-height 0.3s ease;
	transition: max-height 0.3s ease;
}
.slide-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 10px 10px 45px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
}
.slide-item.active, .slide-item:hover, .slide-item:focus {
	text-decoration: none;
	color: #3e4b5b;
}
.slide-item:hover {
	background: #f1f1ff;
	color: #53127F;
}
.slide-item .icon {
	margin-right: 5px;
}
.angle {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (min-width: 575.98px) {
	.app-sidebar__user .user-info {
		display: block;
	}
}
@media (min-width: 768px) {
	.sidebar-mini.sidenav-toggled .app-sidebar__user-name, .sidebar-mini.sidenav-toggled .app-sidebar__user-designation, .sidebar-mini.sidenav-toggled .angle {
		display: none;
	}
	.sidebar-mini.sidenav-toggled .angle {
		position:relative;
		right:0;
	}
	.sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
		width: 30px;
		height: 30px;
	}
	.sidebar-mini.sidenav-toggled .app-content {
		margin-left: 91px;
	}
	.sidebar-mini.sidenav-toggled .app-sidebar {
		left: 0;
		width: 71px;
		overflow: hidden;
	}
	.sidebar-mini.sidenav-toggled .app-sidebar:hover {
		overflow: visible;
	}
	.sidebar-mini.sidenav-toggled .side-menu__item:hover {
		overflow: visible;
	}
	.sidebar-mini.sidenav-toggled .side-menu__item:hover .side-menu__label {
		opacity: 1;
	}
	.sidebar-mini.sidenav-toggled .side-menu__item:hover+.slide-menu {
		visibility: visible;
	}
	.sidebar-mini.sidenav-toggled .side-menu__label {
		display: block;
		position: absolute;
		top: 0;
		left: 50px;
		min-width: 180px;
		padding: 12px 5px 12px 20px;
		margin-left: -3px;
		line-height: 1;
		opacity: 0;
		background: #ffffff;
		color: #3e4b5b;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
	}
	.sidebar-mini.sidenav-toggled .slide:hover .side-menu__item {
		overflow: visible;
		border-left-color: #0061da;
		background: #e0e2e8;
		color: #111;
	}
	.sidebar-mini.sidenav-toggled .slide:hover .side-menu__label {
		opacity: 1;
	}
	.sidebar-mini.sidenav-toggled .slide:hover .slide-menu {
		max-height: 100vh;
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
	.sidebar-mini.sidenav-toggled .slide .side-menu__label {
		border-bottom-right-radius: 0;
	}
	.sidebar-mini.sidenav-toggled .slide-menu {
		position: absolute;
		left: 50px;
		min-width: 180px;
		opacity: 0;
		border-bottom-right-radius: 4px;
		z-index: 9;
		visibility: hidden;
		-webkit-transition: visibility 0.1s ease;
		-o-transition: visibility 0.1s ease;
		transition: visibility 0.1s ease;
		-webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
	}
}

.dropdown-menu.dropdown-menu-right {
	left: auto;
}
.dropdown-item .fa, .dropdown-item .icon {
	vertical-align: middle;
}
.app-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #FFF;
	margin: -30px -30px 30px;
	padding: 20px 30px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media print {
	.app-title {
		display: none;
	}
}
@media (max-width: 480px) {
	.app-title {
		margin: -15px -15px 15px;
		padding: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}
.app-title h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
}
.app-title p {
	margin-bottom: 0;
	font-style: italic;
}
@media (max-width: 480px) {
	.app-title p {
		display: none;
	}
}
.app-breadcrumb {
	margin-bottom: 0;
	text-align: right;
	font-weight: 500;
	font-size: 13px;
	text-transform: capitalize;
	padding: 0;
	text-align: left;
	padding: 0;
	background-color: transparent;
}
@media (max-width: 480px) {
	.app-breadcrumb {
		margin-top: 10px;
	}
}
.tile {
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media print {
	.tile {
		border: 1px solid #ddd;
	}
}
.sidenav-toggled .app-sidebar__user .avatar-lg {
	width: 2.8rem;
	height: 2.8rem;
	line-height: 2rem;
	font-size: 1rem;
}
.sidenav-toggled .app-sidebar__user {
	padding: 1rem 0.6rem;
}
.sidenav-toggled .app-sidebar__user .user-info {
	display: none;
}
.app-sidebar ul li {
	font-weight: 400;
}
.app-sidebar ul li:last-child {}
.app-sidebar ul li:first-child {
	border-top: 0;
	border-bottom: 0;
}
.app-sidebar ul li ul li:last-child {
	border-bottom: 0;
}
.app-sidebar .side-menu li ul .slide-item .active {
	background: #f1f1ff;
}
.header .nav-link span.text-dark {
	color: #fff !important;
}
.slide.is-expanded [data-toggle='slide'] span, .slide .side-menu__item.active span{
	background: #53127F !important;
	color: #fff !important;
}
.side-menu .side-menu__item:hover span {
	background: #53127F !important;
	color: #e5cdf1 !important;
}
.side-menu .side-menu__item:hover .side-menu__icon {
	background: rgb(245, 54, 92) !important;
	color: #e5cdf1 !important;
}
.app-sidebar .side-menu li a.active .side-menu__icon{
	background: rgb(245, 54, 92) !important;
    color: #ffF !important;
}
.app-sidebar .side-menu li a.active span{
	background: #53127F !important;
	color: #e5cdf1 !important;
}
.app-sidebar .side-menu .slide-menu li a.active {
	background: rgba(0,0,0,0.2) !important;
	color: #fff !important;
}
.app-sidebar .side-menu .side-menu__icon {
	color: #fff;
	font-size: 16px;
	margin-right: 5px;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	text-align: center;
	line-height: 2.5rem;
	font-size: 1rem;
	background: rgba(255, 255, 255, 0.2);
	z-index:99;
}
.side-menu__label {
	padding: 6px;
	padding-left: 19px;
	margin-left: -15px !important;
	border-radius: 0px 20px 20px 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 0;
	-webkit-transition: left 0.1s ease, width 0.1s ease;
	-o-transition: left 0.1s ease, width 0.1s ease;
	transition: left 0.1 ease, width 0.1s ease;
}
.app-sidebar .side-menu .side-menu__item:hover .side-menu__icon {
	color: #e5cdf1;
}
.app-sidebar .side-menu .side-menu__item.active .side-menu__icon {
	color: #e5cdf1;
}
.app-sidebar .user-info .text-dark {
	color: #fff !important;
}
.app-sidebar .side-menu .side-menu__icon:after{
	content: "";
    position: absolute;
    width: 34%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgb(245, 54, 92, .75);
    top: -26%;
    left: -1px;
    background: rgba(198, 16, 0, 0);
	display:none;
}
.sidenav-toggled .app-sidebar .side-menu .side-menu__icon:after{
	width: 100%;
	height:150%;
}
.side-menu__item.active .side-menu__icon:after{
	display:block;
}
.side-menu__item:hover .side-menu__icon:after{
	display:block;
}
@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(245, 54, 92, 0.75), 0px 0px 25px 3px rgba(245, 54, 92, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}
@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(245, 54, 92, 0.75), 0px 0px 25px 3px rgba(245, 54, 92, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}