.topnav1 {
  overflow: hidden; text-align:center;
  
}

.topnav1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 7.1%;
  text-decoration: none !important;
  font-size: 17px;
}

.topnav {
  overflow: hidden; text-align:center;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 5.1%;
  text-decoration: none !important;
  font-size: 17px;
}

.active {
 /* background-color: #4CAF50;*/
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav1 .icon {
  display: none;
}

.nropdown {
  float: left;
  overflow: hidden;
}

.nropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 88px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nropdown-content {
  display: none;
  position: absolute;
  background-color:#05a833;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
  text-align: left;
}

.topnav a:hover, .nropdown:hover .dropbtn {
  /*background-color: #a1baa8;
  color: #000;*/
}

.nropdown-content a:hover {
  background-color: #a9bdaf;
  color: #000 !important;
}

.nropdown:hover .nropdown-content {
  display: block;
}


@media screen and (max-width: 800px) {
	
	.topnav a {
 
  font-size: 16px;
}

@media screen and (max-width: 800px) {
	
	.topnav1 a {
 
  font-size: 16px;
}
	
	.nropdown-content a:hover {
  background-color: #a1baa8;
  color: #000;
}
	
	
	.nropdown-content {
  display: none;
  position: absolute;
  background-color:#04952d; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.nropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 7%;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}}

@media screen and (max-width: 800px) {
  .topnav a, .nropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 800px) {
  .topnav1 a, .nropdown .dropbtn {
    display: none;
  }
  .topnav1 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .nropdown {float: none;}
  .topnav.responsive .nropdown-content {position: relative;}
  .topnav.responsive .nropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



@media screen and (max-width: 800px) {
  .topnav1.responsive {position: relative;}
  .topnav1.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav1.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav1.responsive .nropdown {float: none;}
  .topnav1.responsive .nropdown-content {position: relative;}
  .topnav1.responsive .nropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}